.wrapper {
    margin-bottom: 1rem;
}
.input {
    border: 1px solid #eee;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background: #eee;
    transition: 0.2s;
}
.input:hover,
.input:focus {
    outline: none;
    border-color: rgb(12, 118, 206);
    background: white;
    box-shadow: 0 0 0 3px rgb(108, 214, 221);
}
.label {
    display: block;
    font-size: 1rem;
    line-height: 1px;
    padding-bottom: 0.5rem;
}
.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}